DATABASE_URL="mongodb://localhost:27017/crypto-card"
STRIPE_SECRET_KEY="sk_test_51ScsoO0bw5gtCqVrVm2DZmgGP27Ek4bIzsgysoLCMthAoABziGOqO8eIccCdHmabUz4IRDPqx8FVS0sOSch0LHOo00RkhBwTOa"
STRIPE_WEBHOOK_SECRET=""
CERTBOT_EMAIL="majednitol708@gmail.com"
JWT_SECRET="ergregerhgrthjtyjytjuty"
COVALENT_API_KEY=""
COVALENT_URL=""
CHAINALYSIS_URL=""
CHAINALYSIS_API_KEY=""
WALLET_PRIVATE_KEY="d56a8b6b3b47b74df2b4ae8a80faeafc4c56efd16ab106096be835ca86e30f6d"
EUR_TOKEN=""
USD_TOKEN=""
ACCOUNTANT_ADDRESS=""
